<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Meistgenutzte Wörter</h4>
        <!--
        <div class="button-box col-lg-12">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              X-Achse
            </button>
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Sauberkeit</a>
              <a class="dropdown-item" href="#">Zufriedenheit</a>
              <a class="dropdown-item" href="#">Umsetzung</a>
            </div>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Y-Achse
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Sauberkeit</a>
                <a class="dropdown-item" href="#">Zufriedenheit</a>
                <a class="dropdown-item" href="#">Umsetzung</a>
            </div>
          </div>
          -->
        <canvas baseChart [datasets]="bubbleChartData" [options]="bubbleChartOptions" [colors]="bubbleChartColors" [chartType]="bubbleChartType"></canvas>
    </div>
    </div>
  </div>

  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Texte bezogen auf das Wort: <span class="aussage">Boden</span></h4>
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="klein">
                <span class = "aussage"> Wenn man im Winter den Gang betritt ist der Boden am Eingang meist unsauber.</span> <br><br>
                Zufriedenheit: 7, Umsetzung: 3, Sauberkeit: 2
              </div>
              <div class="klein">
                <span class = "aussage">Der Boden könnte häufiger gereinigt werden.</span> <br><br><br>
                Zufriedenheit: 2, Umsetzung: 4, Sauberkeit: 3
              </div>
              <div class="klein">
                <span class = "aussage">Vor allem in den Produktionshallen befinden sich an den Böden viele Reste von Bodenmarkierungen.</span> <br><br>
                Zufriedenheit: 1, Umsetzung: 2, Sauberkeit: 1
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>