<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Meistgenutzte Wörter</h4>
        <div class="button-box col-lg-12">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              X-Achse
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Sauberkeit</a>
              <a class="dropdown-item" href="#">Zufriedenheit</a>
              <a class="dropdown-item" href="#">Umsetzung</a>
            </div>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Y-Achse
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Sauberkeit</a>
                <a class="dropdown-item" href="#">Zufriedenheit</a>
                <a class="dropdown-item" href="#">Umsetzung</a>
            </div>
              
          </div>
        <canvas baseChart [datasets]="bubbleChartData" [options]="bubbleChartOptions" [colors]="bubbleChartColors" [chartType]="bubbleChartType"></canvas>
    </div>
    </div>
</div>