.klein{
    background : #F2EDF3;
    margin : 5px;
    padding : 20px;
    border-radius: 5px;
    vertical-align: middle;
    height: 100px;
    //line-height: 100px;
}

.klein:hover{
    background : #c4aec9;
    cursor: copy;
}

.aussage{
    font-weight: bold;
    color: #1F1956;
}