i {
    display: inline-block;
    font-size: 18px;
    width: 30px;
    text-align: left;
  }

th {
    font-weight: 800;
}

#button {
  float: right
}

.title {
  color : #1F1956;
}

.table-row:hover {
  cursor: pointer;
  background-color: #a39fc5;
}
