<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Projekt erstellen</h4>
        <p class="card-description">
          Erstellung eines neuen Projektes
        </p>
        <h5><b>Allgemeines</b></h5>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputName1">Titel</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="z.B. Weiterbildungsmöglichkeiten">
          </div>

          <div class="form-group">
            <label for="exampleSelectGender">Teilnehmer</label>
              <ng-multiselect-dropdown
              [placeholder]="'Umfrageteilnehmer aussuchen'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword4">Intervall</label>
            <input type="number" class="form-control" id="interval" value="14">
          </div>

          <h5><b>Umfrage</b></h5>
          <h5>Geschlossene Fragen</h5>
          <div class="form-group">
            <label for="exampleTextarea1">Frage 1</label>
            <textarea class="form-control" id="exampleTextarea1" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleTextarea2">Frage 2</label>
            <textarea class="form-control" id="exampleTextarea2" rows="2"></textarea>
          </div>
          
          <h5>Offene Fragen</h5>
          <div class="form-group">
            <label for="exampleTextarea3">Frage 1</label>
            <textarea class="form-control" id="exampleTextarea3" rows="2"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleTextarea4">Frage 2</label>
            <textarea class="form-control" id="exampleTextarea4" rows="2"></textarea>
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-2">Erstellen</button>
          <button class="btn btn-light">Abbrechen</button>
        </form>
      </div>
    </div>
  </div>