<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Umfragen</h4>
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                    <b>Titel</b>
                </th>
                <th>
                    <b>Status</b>
                </th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor='let umfrage of umfragen' class="table-row" routerLink="/umfrage/{{umfrage.umfrageID}}">
                    <ng-container *ngIf="umfrage.active">
                        <td class="py-1">
                            <b><span class="title">{{ umfrage.titel }}</span></b>
                        </td>
                        <td>
                            offen
                        </td>

                    </ng-container>
                </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
</div>
